<html>
    <head>
        <title>ODjango GIrls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django girls blog</a></h1>
        </div>

        <div>
            <p>published: 22.5.2024 11:18</p>
            <h2><a href="">Myfirst post</a></h2>
            <p>Aenean eu leo quam. こんにちは！　よろしくお願いいたします！ </p>
        </div>

        <div>公開日：2024/5/22,  11:18 </div>
        <h2><a href="">二番目の投稿</a></h2>
        <p>こんにちは！よろしくお願いいたします！</p>
    </body>
</html>